@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Inter', 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #eee;
    background-color: #1e1e1e;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
